@import "/src/assets/styles/mixin.scss";

.cta_banner {
  position: relative;
  background-color: #fafafa;
  min-height: 400px;
  @include flex;
  @include justify-content(center);
  @include align-items(center);
}
