@import "/src/assets/styles/mixin.scss";
@import "/src/assets/styles/overrides.scss";

.main_banner {
  position: relative;
  height: 60vh;
  @include flex;
  @include align-items(center);
  @include justify-content(center);
  background-color: #f8f8f8;

  .banner {
    height: 100%;
    width: 100%;
    @include object-fit(cover);
  }
}
