@import "/src/assets/styles/mixin.scss";

.count {
  position: relative;
  background-color: #fafafa;
  padding: 50px 0;
  @include flex;
  @include align-items(center);
}

.count-wrapper {
  padding: 0;
  margin: 0;

  .list {
    p {
      margin: 0;
    }
  }
}
