@import "/src/assets/styles/mixin.scss";

header {
  position: absolute;
  padding: 20px 0;
  top: 0;
  width: 100%;
  z-index: 3;
}

.header-wrapper {
  padding: 0 80px;
  @include flex;
  @include align-items(center);
  @include justify-content(space-between);
}

.logo {
  width: 180px;
  height: auto;
  @include object-fit(contain);
}
