@import "/src/assets/styles/mixin.scss";

header {
  position: absolute;
  padding: 20px 0;
  top: 0;
  width: 100%;
  z-index: 3;
}

.header-wrapper {
  padding: 0 80px;
  @include flex;
  @include align-items(center);
  @include justify-content(space-between);
}

.logo {
  width: 150px;
  height: auto;
  @include object-fit(contain);
}

.login-btn {
  font-size: 14px;
  line-height: initial;
  padding: 8px 20px;
  font-weight: 600;
  border-radius: 5px;
  color: #fff;
  background-color: $primary-color;
  display: inline-block;
  cursor: pointer;
  @include trans;

  &:hover {
    opacity: 0.9;
  }
}
